<!DOCTYPE html>
<html>

<head>
    <title>Delete Reminder</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <h1>Delete Reminder</h1>
    <!-- Delete Reminder Form -->
    <form action="/delete" method="POST">
        <!-- List of reminders to choose from to delete -->
        <label for="reminderId">Select a Reminder to Delete:</label>
        <select name="reminderId" id="reminderId" required>
            <% reminders.forEach(function(reminder) { %>
                <option value="<%= reminder._id %>">
                    <%= reminder.subject %>
                </option>
                <% }); %>
        </select>
        <button type="submit">Delete Reminder</button>
    </form>

    <!-- List of reminders -->
    <ul>
        <!-- Loop through reminders and display them as needed -->
        <% reminders.forEach(function(reminder) { %>
            <li>
                Date: <%= reminder.date %><br>
                    Subject: <%= reminder.subject %><br>
                        Description: <%= reminder.description %><br>
                            Email: <%= reminder.email %><br>
                                Contact No: <%= reminder.contactNo %><br>
                                    SMS No: <%= reminder.smsNo %><br>
                                        Recurrence: <%= reminder.recurrenceOptions.join(', ') %>
            </li>
        <% }); %>
    </ul>
</body>

</html>